@media screen and (max-width: 800px){
    #cell-sidebar {
        flex-basis: 52px;
    }
    #cell-content {
        flex-basis: calc(100% - 52px);
    }
}
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #3D3D3D;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #3D3D3D;
}

body::-webkit-scrollbar-thumb
{
	background-color: #727272;
	border: 2px solid #3D3D3D;
}
