body{
	font-family: "Century Gothic";
	overflow-x: hidden;
}
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #3D3D3D;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #3D3D3D;
}

body::-webkit-scrollbar-thumb
{
	background-color: #727272;
	border: 2px solid #3D3D3D;
}

.border-left {
  border-left: 1px solid black;
}

.border-right {
  border-right: 1px solid black;
}

.border-top {
  border-top: 1px solid black;
}

.border-bottom {
  border-bottom: 1px solid black;
}
#section1 {
	padding-top:50px;
	height:700px;
	color: #fff;
	background: url("../images/banner1.png");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
#section2 {padding-top:50px;height:700px;color: #000; background-color: #fff;}
#section41 {padding-top:50px;height:700px;color: #fff; background-color: #00bcd4;}
#sectionFooter {padding-top:50px;height:400px;color: #fff; background-color: #34495e;}
#footer {height:50px;color: #000; text-align: center;background-color: #ecf0f1;}
.header{
	opacity: 1;
	font-size:72px;
	padding:25px;
}
.header-message{
	padding-left:70px;
	font-size:32px;
}
nav {
	height:53px !important;
	background: white !important;
}

ul > li > a:hover
{
	background: transparent !important;
	border-bottom:2px solid #dc2a6c !important;
}
.active > a
{
	background: transparent !important;
	border-bottom:2px solid #dc2a6c !important;

}
